
@{
    ViewBag.Title = "AddReference";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Referans Ekleme Sayfası</h2>
<from method="post">

    <label>Referans Ad-Soyad</label>
    <input type="text" class="form-control" name="NameSurName" />
    <br />
    <label>Mail</label>
    <input type="text" class="form-control" name="Mail" />
    <br />
    <label>Telefon Numarası</label>
    <input type="text" class="form-control" name="Phone" />
    <br />
    <button class="btn btn-info">Referansı Kaydet</button>
</from>


